// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image-show {
  width: 50px;
  border-radius: 10px;
  border: 1px solid #cccccc;
}

.image-index {
  width: 30px;
  border-radius: 50px;
  border: 1px solid #cccccc;
}

.td-image {
  width: 30px
}
